<configuration>

    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <File>application.log</File>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>

    <appender name="resultsFileAppender" class="ch.qos.logback.core.FileAppender">
        <File>result/${testName}.tsv</File>
        <Append>true</Append>
        <encoder>
            <Pattern>%msg %n</Pattern>
        </encoder>
    </appender>

    <appender name="resultsConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%msg %n</Pattern>
        </encoder>
    </appender>

    <logger name="resultsConsole" level="info" additivity="false">
        <appender-ref ref="resultsConsoleAppender"/>
    </logger>

    <logger name="resultsFile" level="info" additivity="false">
        <appender-ref ref="resultsFileAppender"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>
